<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcomManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/EcomManagement.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/Designs/buttonDesigs.css" />
    <link rel="stylesheet" href="~/lib/datatable/datatable-bootstrap.min.css"/>

</head>

<body>

    <div class="" style="height: 100vh">

        <main class="main" style="height: 100vh">

            <nav class="sidebar">
                <img src="~/Images/Chopper.jpg" alt="chopper" style="width: 70%" />

                <!-- Sidebar content -->
                <a class="navButton" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navButton" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                <a class="navButton" asp-area="" asp-controller="Supplier" asp-action="Index">Suppliers</a>
                <a class="navButton" asp-area="" asp-controller="Shipper" asp-action="Index">Shippers</a>
                <a class="navButton" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                <a class="navButton" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
            </nav>

            <div class="container">
                @RenderBody()
            </div>
        </main>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/datatable/js/datatable.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
