@model Category

<button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#editCategoryModal-@Model.CategoryID">
    <i class="bi bi-pencil-square"></i>
</button>

<!-- Modal -->
<div class="modal modal-lg fade" id="editCategoryModal-@Model.CategoryID" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header bg-dark">
                <h1 class="modal-title fs-5 text-light" id="editCategoryModalLabel">Edit Category</h1>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="Category" asp-action="UpdateCategory" method="post">

                <div class="modal-body">
                    <input class="form-control" hidden asp-for="CategoryID" type="text" name="CategoryID" />


                    <div class="row m-3">
                        <Label class="col-3" asp-for="CategoryName">Category Name</Label>
                        <div class="col">
                            <input class="form-control" asp-for="CategoryName" type="text" name="CategoryName" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row m-3">
                        <Label class="col-3" asp-for="Description">Description</Label>
                        <div class="col">
                            <textarea class="form-control" asp-for="Description" name="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>