@model Category

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-controller="Category" asp-action="AddCategory" method="post">

    <div class="row">
        <Label class="col-2" asp-for="CategoryName">Category Name</Label>
        <div class="col-3">
            <input class="form-control" asp-for="CategoryName" type="text" name="CategoryName" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        
    </div>

    <div class="row">
        <Label class="col-2" asp-for="Description">Description</Label>
        <div class="col-4">
            <textarea class="form-control" asp-for="Description" name="CategoryName"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success">Add</button>

</form>