@model List<Category>

@{
    ViewData["Title"] = "Category Page";
}

<div class="content">

    <h1>Categories</h1>

    @{
        Html.RenderPartial("_AddCategoryModal", new Category());
    }

    @*table table-striped dt-responsive nowrap text-center*@

    <table id="categoryDatatable" class="table table-striped text-center">
        <thead class="">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.CategoryID</th>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td class="row d-flex justify-content-center">
                        <div class="col-2">
                            @{
                                Html.RenderPartial("_EditCategoryModal", item);
                            }
                        </div>
                        <div class="col-2">
                            <form method="post" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.CategoryID">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

<script>

    $(document).ready(function () {
        $('#categoryDatatable').DataTable({});
    });

</script>