@model ProductDto

<div class="container">

    <form asp-controller="Supplier" asp-action="UpdateSupplier" enctype="multipart/form-data" method="post">

        <div class="">

            <input class="form-control" hidden asp-for="SupplierID" type="text" name="SupplierID" />

            <div class="row m-3">
                <Label class="col-3" asp-for="ProductName">Product Name</Label>
                <div class="col">
                    <input class="form-control" asp-for="ProductName" type="text" name="ProductName" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>

            </div>

            <div class="row m-3">
                <Label class="col-3" asp-for="Description">Description</Label>
                <div class="col">
                    <textarea class="form-control" asp-for="Description" name="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row m-3">
                <label for="formFile" class="col-3" asp-for="Images">Upload Image</label>
                <div class="col">
                    <input asp-for="Images" class=" form-control" type="file" multiple id="formFile">
                </div>

            </div>

        </div>

        <div class="modal-footer bg-dark">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>

</div>