@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="container mt-5" id="container">
    <div class="form-container sign-in-container">
        <form id="account" method="post">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="social"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="social"><i class="bi bi-linkedin"></i></a>
            </div>
            <span>or use your account</span>
            <input asp-for="Input.Email" type="email" placeholder="Email" autocomplete="username" aria-required="true" />
            <input asp-for="Input.Password" type="password" placeholder="Password" autocomplete="current-password" aria-required="true" />
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            <button id="login-submit" type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <div class="d-flex">
                    <img class="brand-logo" src="~/logo.svg" alt="brand-logo" />
                    <h1 class="d-flex justify-content-center align-items-center">LOOPIN</h1>
                </div>
                <br />
                <h3>Ecom Portal</h3>
                <p>Sign in to use the portal</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}