@model SupplierDto

<button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#addSupplierModal">
    New <i class="bi bi-plus-square"></i>
</button>

<!-- Modal -->
<div class="modal modal-lg fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header bg-dark">
                <h1 class="modal-title fs-5 text-light" id="addSupplierModalLabel">Add Supplier</h1>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="Supplier" asp-action="AddSupplier" enctype="multipart/form-data" method="post">

                <div class="modal-body">

                    <div class="row m-3">
                        <Label class="col-3" asp-for="SupplierName">Supplier Name</Label>
                        <div class="col">
                            <input class="form-control" asp-for="SupplierName" type="text" name="SupplierName" />
                            <span asp-validation-for="SupplierName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row m-3">
                        <Label class="col-3" asp-for="Description">Description</Label>
                        <div class="col">
                            <textarea class="form-control" asp-for="Description" name="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row m-3">
                        <label for="formFile" class="col-3" asp-for="Image">Upload Image</label>
                        <div class="col">
                            <input asp-for="Image" class=" form-control" type="file" id="formFile">
                        </div>

                    </div>

                </div>


                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>