@model Supplier

<button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#editSupplierModal-@Model.SupplierID">
    <i class="bi bi-pencil-square"></i>
</button>

<!-- Modal -->
<div class="modal modal-lg fade" id="editSupplierModal-@Model.SupplierID" tabindex="-1" aria-labelledby="editSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editSupplierModalLabel">Update Supplier</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="Supplier" asp-action="UpdateSupplier" enctype="multipart/form-data" method="post">

                <div class="modal-body">

                    <input class="form-control" hidden asp-for="SupplierID" type="text" name="SupplierID" />

                    <div class="row">
                        <Label class="col-3" asp-for="SupplierName">Supplier Name</Label>
                        <div class="col">
                            <input class="form-control" asp-for="SupplierName" type="text" name="SupplierName" />
                            <span asp-validation-for="SupplierName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">
                        <Label class="col-3" asp-for="Description">Description</Label>
                        <div class="col">
                            <textarea class="form-control" asp-for="Description" name="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label for="formFile" class="col-3" asp-for="Image">Upload Image</label>
                        <div class="col">
                            <input asp-for="Image" class=" form-control" type="file" id="formFile">
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>