/* Header */
.nav-header {
	background-color: var(--white);
	border-bottom: 1px solid var(--border-color);
}

.sidebar-toggler {
	height: 100%;
	border: none;
	background-color: transparent;
	position: relative;
	padding: 0;
}

.toggler-container {
	position: relative;
	height: 100%;
}

.toggler-arrow {
	position: absolute;
	transform: rotate(0deg);
	transition: 0.3s ease;
}

.turn-round {
	transform: rotate(180deg);
}

.user-info {
	width: 100%;
	height: 100%;
}

.welcome-heading, .user-name {
	font-weight: 600;
}

.welcome-paragraph {
	opacity: 0.4;
}

.user-status {
	opacity: 0.6;
}

.welcome-paragraph, .user-status {
	font-weight: 500;
	margin-bottom: 0;
}

/* Desktop */
@media only screen and (width >= 1024px) {
	.nav-header {
		height: 7.375em;
	}

	.toggler-arrow {
		width: 2.125em;
		height: 2.125em;
	}

	.user-info {
		padding: 1.5em;
	}

	.welcome-heading {
		font-size: 1.5em;
	}

	.welcome-paragraph, .user-status {
		font-size: 1em;
	}

	.user-name {
		font-size: 1.25em;
	}

	.user-image {
		width: 4.5em;
		height: 4.5em;
		margin-left: 1em;
	}
}
