/* Sidebar */
.sidebar {
	background-color: var(--white);
	border-right: 1px solid var(--border-color);
	transition: 0.4s ease;
}

.sidebar-brand {
	border-bottom: 1px solid var(--border-color);
	justify-content: start;
}

.brand-name {
	font-weight: 700;
	margin-bottom: 0;
}

.sidebar-links-container {
	height: 100%;
}

.sidebar-navlink {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	color: var(--black);
	font-weight: 600 !important;
	text-decoration: none !important;
	border-radius: 0.5em;
}

.sidebar-navlink,
.link-icon > svg path {
	transition: 0.3s ease;
}

	.sidebar-navlink:last-of-type {
		margin-bottom: 0;
	}


	.sidebar-navlink:hover, .active-navlink {
		background-color: var(--main) !important;
		color: var(--white) !important;
	}

		.sidebar-navlink:hover .link-icon > svg path, .active-navlink .link-icon > svg path {
			fill: var(--white) !important;
		}

.link-icon > svg path {
	fill: var(--black);
}

.link-name, .brand-name {
	opacity: 1;
	transition: opacity 0.4s ease, font-size 0.3s ease;
}

.short-sidebar .sidebar-brand {
	justify-content: center;
}

.short-sidebar .brand-name {
	margin-left: 0;
}

.short-sidebar .link-name, .short-sidebar .brand-name {
	opacity: 0;
	font-size: 0;
}

.short-sidebar .sidebar-navlink {
	justify-content: center !important;
}

	.short-sidebar .sidebar-navlink .link-icon {
		margin-right: 0;
	}

/* Desktop */
@media only screen and (width >= 1024px) {
	.sidebar {
		padding: 0 1.5em 1.5em 1.5em;
	}

	.long-sidebar {
		width: 19.5em !important;
	}

	.short-sidebar {
		width: 8.25em !important;
	}

	.sidebar-brand {
		padding: 2em 0 2.5em 1.5em;
	}

	.short-sidebar .sidebar-brand {
		padding: 2em 0 2.5em 0;
	}

	.brand-name {
		font-size: 1.5em;
		margin-left: 1rem;
	}

	.brand-logo {
		width: 2.875em;
		height: 2.875em;
	}

	.sidebar-navlinks {
		margin-top: 2em;
	}

	.sidebar-navlink {
		width: 16.5em;
		height: 3.625em;
		padding: 1.5em;
		margin-bottom: 1em;
	}

	.short-sidebar .sidebar-navlink {
		width: 3.625em;
		height: 3.625em;
	}

	.link-icon {
		width: 1.5em;
		height: 1.5em;
		margin-right: 1em;
	}

	.link-name {
		font-size: 1em;
	}
}
