/* Base Styles */
:root {
	/* Colors /*/
	--background-color: #f6f6f6;
	--border-color: #e3e3e3;
	--main: #4e61ff;
	--purple: #9069ff;
	--blue: #69b7ff;
	--green: #6cd67e;
	--black: #434343;
	--orange: #ffb169;
	--white: #ffffff;
	--pink: #ff69b1;
	--red: #ff696c;
	/*/ Fonts */
	--inter: "Inter", sans-serif;
}

html, body, .main-container {
	height: 100%;
}

body {
	font-family: var(--inter);
	color: var(--black);
}

.main {
	width: 100%;
	background-color: var(--background-color);
}

.content {
	padding: 25px;
	margin: 20px;
}
